* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.section-container {
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.image-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}

.background-section-one {
    width: 100%;
    height: 80vh;
    background-image: url(../assets/bg.jpeg);
    background-attachment: fixed;
    background-size:contain;
    background-repeat: no-repeat;
}
.background-section-two {
    height:auto;    
    background-image: url(../assets/bg3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.titulo {
    margin: 50px 0;
    width: 95%;
    text-align:center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 36px;
    color: #fff;
}

.info {
    margin: 20px;
    display: flex;    
    justify-content: space-around;
    width: 87%;
    height: 110px;
    margin-top: 30px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    font-size: 30px;
    border-radius: 12px;
    background: #4169E1;
    color: #fff;
}

.card-container {
    background-color: #fff;
    width: 50%;
    border-radius: 25px;
    padding: 60px;
    max-width: 500px;    
    height: 600px;
}

input {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 12px;
    text-align: center;    
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: #fff;
    color: #4169E1;
    cursor: pointer;
    transition: 300ms;
}

::-webkit-input-placeholder { text-align:left; padding-left: 5px }
input:-moz-placeholder { text-align:left; padding-left: 5px }

form {
    display: grid;
    text-align: center;
}

.cadastro {
    margin-bottom: 70px;
    font-size: 25px;
    font-weight: 600;
    color: #4169E1;
}
.botao {
    margin-top: 30px;
    height: 3rem;
    width: 30rem;
    font-weight: 200;
    background-size: cover;
}

.submit {
    margin-top: 50px;
    height: 5rem;
    width: 30rem;
    background-size: cover;
    background-color: #4169E1;
    color: #fff;
}

.submit:hover {
    background-color: #6495ED;
    color:  #fff;

}

footer {
    width: 100%;
    height: 150px;
    padding: 25px;
    text-align: center;
    background-color: #000;
    color: #fff;
}
